*
{
    margin: 0;
    padding: 0;
}
body{
    background: #e3f4fc;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    height: 100vh;
}

main
{
    width: 800px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
.content    
{
display: flex;
height: 100%;
position: relative;
flex-grow: 1;

}
.left-col
{
padding: 30px;
flex: 0 0 50%;
}
.right-col  
{
    flex: 0 0 50%;

    height: 100%;
  background:  #133040;
  border-bottom-left-radius: 50px;
}
.left-title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label
{
    display: block;
    color: #868e90;
}
input   
{
    width: 100%;
    height: 30px;
    border: none;
    border: 2px solid #ccc;
    border-color: #d6dbde;
    border-radius: 5px;
    box-shadow: none;
}